@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@300&display=swap');
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'JetBrains Mono', monospace;
  color: white;
  background-color: black;
}

h1{
  text-align: center;
  margin: 1.2em 1.2em;
}

.mainItem{
  margin: auto;
  width: fit-content;
  padding: 2em;
  border: 1px solid white;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
}

.value > p{
  text-align: center;
  font-size: 250px;
}

.buttons{
  display: flex;
  justify-content: center;
}

.buttons > div {
  margin: 0 1.3em;
  
}

.main-buttons{
  padding: 1.2em;
  border-radius: 10px;
  text-transform: uppercase;
  font-family: 'JetBrains Mono', monospace;
}








